<!-- 
  <ul>
    <li>
        <%= link_to "Coins", coins_path %>
    </li>
    <li>
        <%= link_to "Mining Types", mining_types_path %>
    </li>
  </ul>
-->

<%= link_to "#{Coin.model_name.human}", coins_path, class:"btn btn-primary btn-sm", role:"button" %>
<%= link_to "#{MiningType.model_name.human}", mining_types_path, class:"btn btn-primary btn-sm", role:"button" %>

<!-- 
    <a class="btn btn-primary btn-lg" href="#" role="button">Coins </a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Mining Types </a>
-->